<app-book-preview [book]="books[0]" (rate)="onRate($event)"></app-book-preview>
{{ bookRate }}
<hr />
<img [alt]="bookName" [src]="bookPictureUrl" />
<button [disabled]="!isAvailable">BOUTON</button>

<hr /><hr />
<p appMovement=red>Lorem ipseum</p>
<p [ngClass]="name == 'Robin' ? 'red' : 'blue'" [textContent]=name></p>
<hr /> <hr />
<ul>
	<ng-container *ngFor="let element of tab">
		<ng-container [ngSwitch]="true">
			<li *ngSwitchCase="element >= 0 && element < 10">{{ element }} : échec</li>
			<li *ngSwitchCase="element >= 10 && element < 13">{{ element }} : moyen</li>
			<li *ngSwitchCase="element >= 13 && element < 15">{{ element }} : bien</li>
			<li *ngSwitchCase="element >= 15">{{ element }} : très bien</li>
			<li *ngSwitchDefault>
                autre lsdfsfsdfsfsd
			</li>
		</ng-container>
	</ng-container>
</ul>
<hr />
<ul>
	<ng-container *ngFor="let element of tab">
		<li *ngIf="element  % 2 != 0; else sinon">
			{{ element }} est impair
		</li>
		<ng-template #sinon>
		<li>
			{{ element }} est pair
		</li>
		</ng-template>
	</ng-container>
</ul>
<hr />
<p appMovement>Hello {{ title }} !</p>
<p appMovement>{{ helloWorld() }}</p>
<ul>
    <li>{{ user.firstname }}</li>
    <li>{{ user.lastname }}</li>
</ul>
<hr />
<ul>
    <li *ngFor="let user of users">{{ user.firstname }}</li>
</ul>
<hr >
<ul>
    <li *ngIf="tab[1] % 2 != 0; else sinon">
        {{ tab[0] }} est impair
    </li>
    <ng-template #sinon>
        <li>{{ tab[1] }} est pair</li>
    </ng-template>
</ul>
<ul>
	<li *ngIf="tab[0] % 2 != 0; then si else sinon">
		Ce code ne sera jamais pris en compte
	</li>
	<ng-template #si>
		<li>
			{{ tab[0] }} est impair
		</li>
	</ng-template>
	<ng-template #sinon>
		<li>
			{{ tab[0] }} est pair
		</li>
	</ng-template>
</ul>
<ul>  
    <li *ngFor="let element of tab; let i = index; let isFirst = first; let isEven = even">
        {{ i }} : {{ element }} ||{{ isFirst }} |||{{ isEven }}
    </li>
</ul>
<hr />
<ul>
    <li *ngFor="let element of tab; index as i">
        {{ i }} : {{ element }}
    </li>
</ul>